<a href="https://colab.research.google.com/github/patilhumesh88-spec/code/blob/main/data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [3]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [4]:
numeric_data=pd.DataFrame({
    'salary':[1000,2000,3000],
    'age':[21,23,24 ]
})
numeric_data

   salary  age
0    1000   21
1    2000   23
2    3000   24

In [5]:
from sklearn.preprocessing import StandardScaler

std_scaler=StandardScaler()
scaled_std=std_scaler.fit_transform(numeric_data)
df=pd.DataFrame(scaled_std,columns=numeric_data.columns)
print("\nStandard Scaled Data:\n",df)

Standard Scaled Data:
      salary       age
0 -1.224745 -1.336306
1  0.000000  0.267261
2  1.224745  1.069045

In [6]:
minmax_scaler=MinMaxScaler()
scaled_minmax=minmax_scaler.fit_transform(numeric_data)
print("\nMin-Max Scaled Data:\n",pd.DataFrame(scaled_minmax,columns=numeric_data.columns))

Min-Max Scaled Data:
    salary       age
0     0.0  0.000000
1     0.5  0.666667
2     1.0  1.000000

In [7]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
cat_data=pd.DataFrame({
    'city':['delhi','mumbai','pune','delhi','mumbai']
})
cat_data

     city
0   delhi
1  mumbai
2    pune
3   delhi
4  mumbai

In [8]:
label_encodeer=LabelEncoder()
cat_data['Dept_Label']=label_encodeer.fit_transform(cat_data['city'])
print("\nLabel Encoded:\n",cat_data)

Label Encoded:
      city  Dept_Label
0   delhi           0
1  mumbai           1
2    pune           2
3   delhi           0
4  mumbai           1